.footer {
    background-color: rgb(44, 44, 44);
}

.footer__section {
    padding: 1rem 0;
}

.footer__item {
    padding: 1rem 0 1rem;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.footer__nav__item {
    list-style: none;
    padding-right: 0.3rem;
}

.footer__nav__link {
    color: #fff;
    font: 700 14px/18px "Open Sans";
    text-transform: uppercase;
    letter-spacing: 0.65px;
}

.footer__nav__link:hover {
    color: #fff;
}

.footer__contacts__item {
    display: block;
    color: rgb(19, 206, 110);
    font: 400 14px/26px "Open Sans";
}

.footer__contacts__item:hover {
    color: rgb(19, 206, 110);
}

.footer__contacts__item span {
    color: rgb(153, 153, 153);
}

.footer__about {
    color: #fff;
    font: 700 13px/18px "Open Sans";
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.footer__about__title {
    font-size: 13px;
    font-weight: 700;
}

.footer__about__content {
    color: rgb(204, 204, 204);
    font-weight: 400;
}

.btn-transparent {
    cursor: pointer;
    color: rgb(52, 152, 219);
    font-weight: 700;
    padding: 0.5rem;
    border: 3px solid rgb(52, 152, 219);
    background-color: transparent;
}