.header .container-fluid {
    padding: 0;
}

.header__title {
    background: #3498db;
    background-color: #eaf4fb;
}

.navigation {
    width: 90%;
    margin: 0 auto;
}

.navigation .btn {
    border-radius: 0px;
}

.nav-item {
    color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

.nav-item:active, .nav-item:hover {
    border-bottom: 3px solid red;
    
}

.call-me {
    width: 170px;
    height: 40px;
    box-shadow: 0 0 20px rgba(11, 141, 255, 0.6);
    border: 3px solid #3498db;
    background-color: #3498db;
}

.navbar-brand img {
    width: 171px;
    height: 61px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.main-title__office {
 flex-grow: 1;
    text-align: center;
}

.main-title__kiev {
    position: relative;
    color: #3498db;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}


.main-title__kiev::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 40%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #00d94d;

}




