@mixin blue-button() {
  border: 3px solid $blue-color;
  background-color: $blue-color;
  color: rgb(255, 255, 255);
  padding: 0.3rem;
  font: $font-bold;
  font-size: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 20px rgba(11, 141, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}